body {
    font-family: sans-serif;
    background: #ff7878;
    max-width: 50em;
    margin: 0 auto;
}

.navy {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 2em;
    background-color: #f04e4e;
}

.navy a {
    text-decoration: none;
    color: white;
    padding: .5em 2em;
    text-align: center;
}

.navy a:hover{
    text-decoration: none;
    color: white;
    padding: .5em 2em;
    text-align: center;
    background-color: #d65757;
}

.box a, .goto a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #f04e4e;
    padding: .5em;
    text-align: center;
}

.box a:hover, .goto a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #d65757;
    padding: .5em;
    text-align: center;
}

.box {
    border: 0.75px solid;
    border-radius: 5px;
    text-align: center;
    margin: 1em;
}

.box img {
    height: 6em;
    height: 6em;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table {
    font-size: 1.2em;
    border-collapse: collapse;
    width: 100%;
}
div {
    text-align: center;
}

td, th {
    border: 1px solid red;
    text-align: left;
    padding: 8px;
    width: 50%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
.kort {
    max-width: 25em;
    margin: 1em auto;
    padding: 0 1em;
    border: 1px solid;
    background-color: #efff00;
    border-radius: 5px;
}