<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ss.css') }}">
    <link href="/stylesheets/still.css" rel="stylesheet" type="text/css" />
    {% block refresh %} {% endblock %}
</head>
<body>
    {% include "haus.tpl" %}
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <h3>&copy; 2019 Lorraine Rós</h3>
    </footer>
</body>
</html>